.auction-list {
	grid-gap: 30px 0;
	& > * {
		padding: 0;
	}
}
.card.auction {
	border: none;
	height: 100%;
	--bs-card-inner-border-radius: 0;
	padding: 0 30px;
	background-color: #EDE8E3;
	& .card-body {
		padding: 8px 0;
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	& .card-img-top {
		height: 320px;
		object-fit: contain;
	}
	& .card-info {
		margin-bottom: 4px;
		& p {
			margin-bottom: 0;
		}
		& p:first-of-type {
			font-size: 18px;
			font-weight: 500;
			color: #291F0F !important;
		}
		& p:last-of-type {
			color: #035055;
		}
	}
	& .card-info-sold {
		& p {
			margin-bottom: 0;
		}
		& p:first-of-type {
			margin-bottom: 2px;
			color: #056B72;
		}
		& p:last-of-type {
			font-size: 18px;
			color: #291F0F;
			line-height: 165%;
		}
	}
	& .card-title {
		font-weight: 500;
		margin-bottom: 4px;
		color: #291F0F;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		overflow: hidden;
		-webkit-line-clamp: 2;
		text-decoration: none;
		@media screen and (max-width: 576px) {
			-webkit-line-clamp: 4;
		}
		&:hover {
			color: #291F0F;
		}
		& a {
			text-decoration: none;
			color: inherit;
		}
	}
	& .card-text {
		margin-bottom: 0;
		color: #6F6F6F;
		margin-top: auto;
	}
	& .card-form {
		margin-top: 8px;
		& input {
			font-size: 14px;
			line-height: 16px;
			padding: .4rem;
			border-color: #D2CCC3;
			background-color: #EDE8E3;
			border-radius: 0;
			&:focus {
				box-shadow: none;
				border-color: #D2CCC3;
			}
		}
		& .form-control::placeholder {
			color: #6F6F6F;
		}
		& .form-control::placeholder,
		& .btn-success {
			font-size: 14px;
			line-height: 16px;
		}
		& .btn-success {
			padding: .4rem 1rem;
		}
	}
	& .carousel {
		&:hover {
			& .carousel-control-next,
			& .carousel-control-prev {
				opacity: 1;
			}
		}
		& .carousel-control-next,
		& .carousel-control-prev {
			opacity: 0;
		}
		& .carousel-control-prev-icon,
		& .carousel-control-next-icon {
			background-color: rgba(3, 80, 85, 0.5);
			border-radius: 50%;
			border: 5px solid transparent;
			filter: none;
		}
	}
}