
body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 400;
	background-color: #EDE8E3;
}
button.btn {
	display: flex;
	align-items: center !important;
	justify-content: center !important;
	grid-gap: 12px !important;
}
.modal-backdrop {
	background: rgba(41, 31, 15, 0.30);
	opacity: 1 !important;
}
.wrapper {
	margin-bottom: 60px;
	margin-top: 36px;
}
.bg-light {
	background: #EDE8E3 !important;
	box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.10);
}
.btn-auction {
	font-size: 1.125rem;
	line-height: 165%;
	background-color: #F4F8F6 !important;
	-webkit-appearance: none;
	border-color: #035055;
	border-radius: 0;
	padding: 0.431rem 1rem;
	color: #035055;
	width: 100%;
	&:hover {
		background-color: #056B72 !important;
		border-color: #056B72;
		color: #FFF;
	}
	&:active {
		color: #FFF !important;
		background-color: #035055 !important;
		border-color: #035055 !important;
	}
	&:disabled {
		background-color: #D2CCC3 !important;
		border-color: #D2CCC3;
	}
}

.btn.btn-success {
	font-size: 1.125rem;
	line-height: 165%;
	background-color: #056B72 !important;
	-webkit-appearance: none;
	border-color: #056B72;
	border-radius: 0;
	padding: 0.431rem 1rem;
	color: #FFF;
	&:hover {
		background-color: #05868E !important;
		border-color: #05868E;
	}
	&:active {
		background-color: #035055 !important;
		border-color: #035055;
	}
	&:disabled {
		background-color: #D2CCC3 !important;
		border-color: #D2CCC3;
	}
}
.btn.btn-outline-success {
	background-color: transparent !important;
	-webkit-appearance: none;
	border-color: #056B72;
	border-radius: 0;
	color: #056B72;
	&:hover {
		background-color: #068d95 !important;
		border-color: #068d95;
		color: #FFF;
	}
	&:active {
		background-color: #056B72 !important;
		border-color: #056B72;
		color: #FFF;
	}
	&.active {
		background-color: #056B72 !important;
		color: #FFF;
	}
}
.inp {
	padding: 0.68rem 1.25rem;
	border: 1px solid #C19D58;
	border-radius: 0;
	font-size: 20px;
	line-height: 150%;
	color: #6F6F6F;
	@media screen and (max-width: 580px) {
		padding: 0.68rem;
	}
	&::placeholder {
		font-size: 20px;
		line-height: 150%;
		color: #6F6F6F;
	}
	&:focus {
		border-color: #C19D58;
		box-shadow: 0 0 0 0.25rem rgba(193, 157, 88, 0.25);
	}
}
.h2-pf {
	color: #291F0F;
	font-variant-numeric: lining-nums proportional-nums;
	font-family: 'Old Standard TT', serif;
	font-size: 2.5em;
	font-weight: 700;
	line-height: normal;
	@media screen and (max-width: 768px) {
		font-size: 1.5rem;
	}
}