.footer {
	background-color: #291F0F;
	font-size: 18px;
	line-height: 165.5%;
	padding-top: 45px;
	padding-bottom: 45px;

	& a {
		color: #fff;
	}
	& nav.d-flex.row {
		padding-left: 24px;
	}
	& .nav {
		display: block;
		& .nav-link {
			padding: 0;
			display: inline-block;
		}
	}
	& .contant {
		padding-left: 24px;
	}
	& .btn-group {
		width: 100%;
	}
	& label {
		display: block;
		max-width: 340px;
		width: 100%;
		& .form-control {
			background: #FEFEFE;
			border-radius: 0;
			padding: 0.782rem 0.75rem;
		}
	}
	& .btn {
		max-width: 110px;
		border-radius: 0;
	}
}
