.art {
	display: flex;
	grid-gap: 20px;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	@media screen and (max-width: 768px) {
		flex-direction: column;
		grid-gap: 10px;
	}
	& > p {
		font-size: 18px;
		line-height: 165%;
		color: #6F6F6F;
		@media screen and (max-width: 580px) {
			font-size: 16px;
		}
	}
	&-list {
		display: flex;
		grid-gap: 20px;
		align-items: center;
		@media screen and (max-width: 768px) {
			justify-content: center;
			grid-gap: 10px;
		}
	}
	&-item {

	}
	&-link {
		display: block;
		& picture {
			display: block;
			& img {
				display: block;
			}
		}
	}
}