.pagination {
	& .page-item {
		&.active {
			& .page-link {
				border-color: #056B72;
				color: #FFFFFF;
				background: #056B72;
			}
		}

		&:hover a {
			background-color: #05868E;
			color: #FFFFFF;
		}

		&:active {
			& a {
				background-color: #035055;
				color: #FFFFFF;
			}
		}
	}

	& .page-link {
		background-color: transparent;
		border-color: #D2CCC3;
		color: #6F6F6F;
		&:focus {
			box-shadow: none;
			background-color: transparent;
			& a {
				box-shadow: none;
			}
		}
	}
}