.inputs-wrapper .select2-container {
	width: 100%!important;
}
.select2-container .select2-dropdown {
	z-index: 1060;
}
.select2-container--default .select2-selection--single {
	border: 1px solid #C19D58;
	border-radius: 0;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #5F5F5F;
	font-size: 1.25rem;
	line-height: 150%;
	padding: 0.68rem 1.25rem;
	@media screen and (max-width: 580px) {
		padding: 0.68rem;
	}
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
	color: #6F6F6F;
}
.select2-container .select2-selection--single {
	height: auto;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: calc(50% - 13px);
	right: 10px;
}
.select2-dropdown {
	background-color: #fff;
	border: 1px solid #C19D58;
	border-radius: 0;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
	border: 1px solid #C19D58;
	border-radius: 0;
	outline: none;
	color: #6F6F6F;
}
.select2-results__option {
	color: #6F6F6F;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
	background-color: rgb(193, 157, 88);
	color: #FFF;
}
.select2-container--default .select2-results__option--selected {
	background-color: #C19D58;
	color: #FFF;
}

.inp {
	padding: 0.68rem 1.25rem;
	border: 1px solid #C19D58;
	border-radius: 0;
	font-size: 1.25rem;
	line-height: 150%;
	color: #6F6F6F;
	@media screen and (max-width: 580px) {
		padding: 0.68rem;
	}
	&::placeholder {
		font-size: 20px;
		line-height: 150%;
		color: #6F6F6F;
	}
	&:focus {
		border-color: #C19D58;
		box-shadow: 0 0 0 0.25rem rgba(193, 157, 88, 0.25);
	}
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-color: #C19D58 transparent transparent transparent;
	border-style: solid;
	border-width: 5px 4px 0 4px;
	height: 0;
	left: 50%;
	margin-left: -4px;
	margin-top: -2px;
	position: absolute;
	top: 50%;
	width: 0;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
	border-color: transparent transparent #C19D58 transparent;
	border-width: 0 4px 5px 4px;
}