@import "_header";
@import "_breadcrumb";
@import "_component-contact-us";
@import "_footer";
@import "_default";
@import "_select2";
@import "_modal";

.accordion {
	margin-top: 20px;

	&-header {

	}

	&-button {
		font-size: 20px;
		line-height: 24px;
		padding-left: 0;
		background-color: #EDE8E3;

		&:not(.collapsed) {
			color: #056B72;
			box-shadow: none;
			background-color: transparent;
		}

		&:focus {
			box-shadow: none;
		}

		&:not(.collapsed)::after {
			background-image: var(--bs-accordion-btn-icon);
		}

		&.collapsed {
			color: #291F0F;
		}
	}

	&-collapse {
		&.show {

		}
	}

	&-body {
		padding-left: 0;
		font-size: 20px;
		line-height: 24px;
		color: #6F6F6F;

		& code {
			color: #CF331E;
		}

		& a {
			text-decoration-line: underline;
			color: #056B72;

			&:hover {
				color: #05868E;
			}

			&:active {
				color: #035055;
			}
		}
	}
}

.accordion-flush {
	& .accordion-item {
		background-color: #EDE8E3;
		border-color: #D2CCC3;
		&:last-child {
			border-bottom: 1px solid #D2CCC3;
		}
		&:hover {
			border-color: #291F0F;
		}
		&:focus {
			border-color: #291F0F;
		}

		&:active {
			border-color: #291F0F;
		}
	}
}

