@import "_header";
@import "_breadcrumb";
@import "_footer";
@import "_default";
@import "_modal";
@import "_select2";
@import "_page-account-personal-data-links";
.personal-data {
	& hr {
		margin: .75rem 0 1.5rem;
	}
	&-save {
		justify-content: center;
		display: flex;
		& > .btn {
			max-width: 400px;
		}
		& > .btn-auction {
			max-width: 180px;
		}
	}

	&-inputs {
		& .inp {
			background-color: #EDE8E3;
		}
		& .select2-container--default .select2-selection--single {
			background-color: #EDE8E3;
		}
		& .btn.btn-success {
			width: 100%;
		}
		& .btn.btn-link {
			color: #056B72;
			text-decoration: none;
			font-size: 1.125rem;
			&:hover {
				color: #05868E;
			}
			&:active {
				color: #035055;
				text-decoration: underline;
			}
		}
	}
	&-title {
		font-size: 1.5rem;
		color: #291F0F;
	}
	& .inputs-wrapper {
		& .dropdown-menu {
			border-radius: 0;
			border: 1px solid #C19D58;
			& .dropdown-item:focus,
			& .dropdown-item:hover {
				color: #fff;
				background-color: #C19D58;
			}
		}
		& label {
			display: none;
		}
		& .select2,
		& input,
		& select {
			margin-top: 16px;
		}
		& .btn.btn-input.dropdown-toggle.show,
		& .btn.btn-input.dropdown-toggle.active,
		& .btn.btn-input.dropdown-toggle {
			padding: 0.68rem .125rem 0.68rem 1.25rem;
			margin-top: 16px;
			border: 1px solid #C19D58;
			font-size: 20px;
			line-height: 150%;
			border-radius: 0;
			color: #5F5F5F;
			@media screen and (max-width: 768px) {
				padding: 0.68rem;
			}
			&::placeholder {
				font-size: 20px;
				line-height: 150%;
				color: #5F5F5F;
			}
			&:hover {
				border: 1px solid #C19D58;
				background-color: transparent !important;
			}
			&:focus {
				background-color: transparent !important;
				border-color: #C19D58;
				box-shadow: 0 0 0 0.25rem rgba(168, 137, 26, 0.25);
			}
			&:active {
				background-color: transparent !important;
			}
			&:after {
				vertical-align: -0.145em;
			}
			& ~ .inp {
				padding: 0.68rem 1rem 0.68rem .5rem;
			}
		}
		& .btn-auction {
			display: flex;
			align-items: center;
			grid-gap: 12px;
			font-size: 1.25rem;
			line-height: 150%;
			color: #056B72;
			padding: 0.68rem 2rem;
			margin-top: 16px;
			&:hover {
				color: #FFFFFF;
			}
		}
	}
}
.inp {
	padding: 0.68rem 1.25rem;
	@media screen and (max-width: 768px) {
		padding: 0.68rem;
	}
}
