@import "_default";
@import "_header";
@import "_breadcrumb";
@import "_page-current-auction-timer";
@import "_page-current-auction-autor";
@import "_component-cart+form+past";
@import "_pagination";
@import "_footer";
@import "_select2";
@import "_modal";
.auction-status {
	margin: 16px 0 32px;
	&-info {
		border-radius: 4px;
		border: 1px solid #B7B6B2;
		padding: 16px 30px 40px 16px;
		@media screen and (max-width: 992px) {
			border-bottom: 1px solid #B7B6B2;
			border-radius: 4px;
		}
	}
}
.featured-slider {
	padding-bottom: 24px;
	border-bottom: 1px solid #D2CCC3;
	margin-bottom: 32px;
	&-title {
		margin-bottom: 20px;
	}
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
	right: 0;
	left: auto;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
	left: 0;
	right: auto;
}
:root {
	--swiper-theme-color: #291F0F;
}