@import "_header";
@import "_component-contact-us";
@import "_breadcrumb";
@import "_footer";
@import "_default";
@import "_select2";
@import "_modal";

.wrapper {
	margin-bottom: 60px;
	margin-top: 36px;
}
.info-contact {

	margin-top: 40px;
	&:first-of-type {
		border-top: 1px solid #D2CCC3;
		padding-top: 12px;
		margin-top: 12px;
	}
	& > div:first-child {
		@media screen and (max-width: 768px) {
			margin-bottom: 12px;
		}
	}
	&:last-of-type {
		& .nav {
			grid-gap: 20px;
			&-link {
				padding: 0;
			}
		}
	}
	& h3 {
		font-size: 20px;
		line-height: 150%;
		font-weight: 500;
		color: #291F0F;
	}
	& .nav  {
		& li {
			font-size: 20px;
			line-height: 150%;
			font-weight: 300;
			color: #291F0F;
		}
		& a {
			text-decoration: none;
			color: #291F0F;
			&:hover {
				color: #05868E;
				text-decoration: underline;
			}
			&:active {
				color: #035055;
			}
		}
	}
}

.link-arrow {

	&:hover {
		& path {
			fill: #05868E;
		}
	}
	&:active {
		& path {
			fill: #035055;
		}
	}
}