@import "_default";
@import "_header";
@import "_page-list-auc";
@import "_breadcrumb";
@import "_page-variation-auction";
@import "_page-current-auction-timer";
@import "_page-current-auction-autor";
@import "_component-cart+form+past";
@import "_pagination";
@import "_footer";
@import "_select2";
@import "_modal";


.featured-slider {
	padding-bottom: 24px;
	border-bottom: 1px solid #B7B6B2;
	margin-bottom: 32px;
	&-title {
		margin-bottom: 20px;
	}
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
	right: 0;
	left: auto;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
	left: 0;
	right: auto;
}
:root {
	--swiper-theme-color: #120E00;
}